@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

                            /* header */
    .current::after {
    bottom: -29px;
    }

    .header {
    padding-bottom: 24px;
    
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-color);
}

.header-container {
    display: flex;
    align-items:center;
    }

    .nav-list {
        gap: 76px;
    }

    .address-list {
        display: flex;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5px;
    }

                           /* hero */
    .hero {
    padding-top: 188px;
    padding-bottom: 188px;

    height: 600px;
    }

    .hero-title {
        margin-bottom: 48px;
    }

                            /* --- our principles --- */ 
.section.another {
    padding-bottom: 0;
}

.princip-item {
    width: calc((100% - 72px) / 4);
}

.princip-link {
    margin-bottom: 8px;
    height: 112px;
    background-color: var(--secondary-background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

    .princip-icon {
        fill: var(--title-text-color);
    }

    .section-suptitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .section-text {
        font-weight: 400;
    }

                            /*-- what are we doing --*/
.do {
    display: block;
}

.do-list {
    margin-top: 72px;

    display: flex;
    gap: 24px;
}
                            /* --- our team ---*/
    .section.another-back {
    padding-bottom: 120px;
    }
    
    .team-item {
        max-width: calc((100% - 72px) / 4);
    }

                            /* -- customers --*/
    .cust-list {
        flex-wrap: nowrap;
    }

                                /* --- footer --- */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.ft-div {
    margin-bottom: 0;
    gap: 0;
}

.footer-container{
    display: flex;
}

.footer-media {
    margin-right: 120px;
    align-items:center;
}

.footer-div-media {
    margin-right: 80px;
}

.ft-sub {
    margin-top: 0;
    margin-left: 0;
}

.footer-text.media {
    margin-top: 0;
}

.team-soc-link.ft:is(:hover, :focus) {
    background-color: #31D0AA;
}

.footer-button:is(:hover, :focus) {
    background-color: var(--hover-background);
}

.footer-soc-list {
    gap: 16px;
}
}

