@media screen and (min-width: 428px) {
    
                           /* hero */
    .hero {
    background-image: 
    var(--grad),
    url(../images/hero/tablet/tablet-bg-1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero  {
    background-image: var(--grad),
    url('../images/hero/tablet/tablet-bg-2x.jpg');
    }
    }
    .mob-tel-link {
        font-size: 36px;
    }

    .mob-soc-list {
        gap: 56px;
    }

    .modal {
        width: 392px;
    }

    .policy-text {
        font-size: 12px;
    }

    .modal-button {
        margin-left: 95px;
    }

}
